VITE_SUPABASE_URL=https://gcoxccaaayevlrpshykx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdjb3hjY2FhYXlldmxycHNoeWt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NjQ3OTksImV4cCI6MjEwMzM0MDc5OX0.AwjuiYTyJsaNiLJgxqpa_Nl7V6lr3g9madOz5V5FjQQ
VITE_ADMIN_EMAIL=tamim.hasan2005@gmail.com
